.underConstruction {
    color: #818181;
    background-color: #fafafa;
    padding-left: 1px;
    padding-right: 1px;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}