html,
body {
    /*css for full size background image*/
    background: url("../img/5.jpg") no-repeat center center fixed;
    /*background: url(file://D:/jtronic/under_construction/img/5.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #fff;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    color: #fff;
}

.row {
    /*border: #aaa solid 1px;*/
    /* opacity: 0.8;*/
    color: #fff;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
    text-shadow: 2px 2px 2px #333;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}


/* Padding for spacing */

.inner {
    padding: 30px;
}

a {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.tools+.tooltip>.tooltip-inner {
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    text-align: center;
    border: 1px transparent;
}

.tools+.tooltip>.tooltip-arrow {
    border: 0px solid transparent;
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.thumbnail,
.thumbnail .caption {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    font-weight: 600;
}

.thumbnail .caption:hover {
    padding: 9px;
}

.img-thumbnail:hover {
    border: 0px solid #aaa !important;
    width: 100px;
    height: 100px;
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360eg);
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    padding: 3px 3x 3px 3px;
}

.img-thumbnail {
    border-radius: 0px;
    width: 60px !important;
    height: 60px !important;
}

.btn,
.btn-info,
.btn-lg {
    border-radius: 0px;
}


/*
 * Footer
 */

.mastfoot {
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, 1);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 800px;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 480px) {}